<div class="container">

  <h3>Welcome <%= current_user.first_name %></h3>

  <% if @message %>
    <p>ATTENTION! <%= @message %></p>
  <% end %>

  <p>Current Monthly Bill: $<%= @monthly_bill %> </p>

  <p>Current Subscriptions:</p>
    <% current_user.channels.each do |channel| %>
      <tr>
        <td><a href="/channels/<%= channel.id %>"><%= channel.name %></a> |</td>
        <td>$<%= channel.price_per_month %></td>
      </tr>
    <% end %>

    <table>
    <tr>
      <th>Channel |</th>
      <th>Price Per Month</th>
    </tr>

  </table>



<form method="post" action="/users/:id">
 <input type="hidden" name="_method" value="put">
<select name="channel">
  <% @channels.each do |channel|%>
    <div>
      <option><%= channel.name %></option>

    </div>
  <%end%>
</select>
 <input type="submit"  value="Add Channel" class="button">
</form>
</div>
